<h1>О нашем проекте</h1>
<p>Дизайнеры путешествуют. Как и&nbsp;все нормальные люди.</p>
<p>Дизайнеры смотрят на&nbsp;мир не&nbsp;как нормальные люди.</p>
<p>У&nbsp;дизайнеров  ̰п̰р̰Ofд̶е̰ф̰(ö̤)р̰мAц̰ия.</p>
</br>
<p>Наш сервис помогает делиться интересными визуальными находками во&nbsp;время путешествий, создавая в&nbsp;процессе карту разных взглядов на&nbsp;мир&nbsp;&mdash; и&nbsp;мест, которые стоит посетить, чтобы взглянуть на&nbsp;них по-своему.</p>