<!--
<div class="aboutTeam">
    <a href="https://t.me/o9o98o" data-hint="Лена Донских: cтудентка" class="team1 hint-bottom"></a>
    <a href="https://t.me/BWV884" data-hint="Арсений Гулевич: cтудент" class="team2 hint-bottom"></a>
    <a href="https://linktr.ee/zakharday" data-hint="Захар День: преподаёт веб-разработку" class="team3 hint-bottom"></a>
    <a href="https://t.me/m1d45" data-hint="Вадим Булгаков: преподаёт дизайн и менеджмент" class="team4 hint-bottom"></a>
    <a href="https://www.hse.ru/org/persons/134073109" data-hint="Дмитрий Александров: преподаёт iOS-разработку" class="team5 hint-bottom"></a>
</div>
-->



<div class="bodyAbout">
    <div class="ContentScreen1">
        <div class="GeometricBackground">
            <div class="LineHorizontal"></div>
            <div class="LineVertical"></div>
            <div class="GeometricBackgroundImg"></div>
        </div>
    </div>
    <div class="ContentScreen2">
    </div>
</div>