<div class="TutorialPostCardContent">

  <div class="TutorialPostCardImg">
    <%= image_tag tutorial_post.post_image.url %>
  </div>

  <div class="TutorialPostCardInfo">
    <div class="TutorialPostCardTagsRow">
      <% tutorial_post.tag_list.each do |tag| %>
          <div class="PostCardTagChip">
              <%= tag %>
          </div>
      <% end %>
    </div>
    <h2 class="TutorialPostCardTitle"><%= tutorial_post.title%></h2>
  </div>

</div>