html {
    background-color: rgb(252, 252, 252);
}

body {
    font-family: 'Inter', sans-serif;
    width: calc(100% - 600px);
    min-width: 690px;
    margin: auto;
}

a {
    text-decoration: none;
}