html {
    background-color: rgb(252, 252, 252);
}

body {
    font-family: 'Inter', sans-serif;
    width: calc(100% - 500px);
    min-width: 690px;
    margin: auto;
}

a {
    text-decoration: none;
}

textarea {
    width: 500px;
    height: 150px;
}

