html {
    background-color: #F9F9F9;
}

body {
    font-family: "Suisse Intl", "Inter", sans-serif;
    margin: auto;
}

a {
    color: #7e7e7e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    width: 500px;
    height: 150px;
}

.contentPage {
    width: calc(100% - 590px);
    min-width: 690px;
    margin: 110px auto;
}

