.commentCard {
    display: block;
    margin: 20px 0;
    padding: 10px 20px 10px 20px;
    width: 50%;
    min-width: 600px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    /* color: black; */
}

.commentReplies {
    display: flex;
}

.commentReplies > div {
    padding: 20px 0;
}

.M_PostComment {
    /* max-width: 464px; */
    display: flex;
    align-items: flex-start;
    padding: 8px 0;
    gap: 12px;
    margin-bottom: 10px;
}

.PostCommentUserAvatar {
    background-image: url("/assets/icons/IconUser.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 68px;
    height: 68px;

    flex: 0 0 auto;
}

.A_PostCommentTexts {
    /* padding-top: 4px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.PostCommentInfo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.PostCommentUserName {
    font-family: Suisse Intl;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: black;
}

.PostCommentDate {
    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #5F5F5F;
}

.PostCommentIcons {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    opacity: 0.1;

    &:hover {
        opacity: 1;
    }
}

.PostCommentIcon {
    width: 28px;
    height: 28px;

    background-repeat: no-repeat;
    background-size: contain;

    flex: 0 0 auto;

    &.Edit {
        background-image: url("/assets/icons/IconEditBlack.svg");
    }

    &.Trash {
        background-image: url("/assets/icons/IconTrash.svg");
    }
}