.commentCard {
    display: block;
    margin: 20px 0;
    padding: 10px 20px 10px 20px;
    width: 50%;
    min-width: 600px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    /* color: black; */
}

.commentReplies {
    display: flex;
}

.commentReplies > div {
    padding: 20px 0;
}

.PostComment {
    /* max-width: 464px; */
    display: flex;
    align-items: flex-start;
    gap: 19px;
    margin-bottom: 16px;
}

.PostCommentUserAvatar {
    background-image: url("/assets/promo/IconUser.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 68px;
    height: 68px;

    flex: 0 0 auto;
}

.PostCommentTexts {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.PostCommentInfo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.PostCommentUserName {
    font-family: Suisse Intl;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: black;
}

.PostCommentDate {
    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #5F5F5F;
}

.PostCommentIcons {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    opacity: 0.1;

    &:hover {
        opacity: 1;
    }
}

.PostCommentIcon {
    width: 28px;
    height: 28px;

    background-repeat: no-repeat;
    background-size: contain;

    flex: 0 0 auto;

    &.Edit {
        background-image: url("/assets/icons/IconEditBlack.svg");
    }

    &.Trash {
        background-image: url("/assets/icons/IconTrash.svg");
    }
}

.PostCommentBody {
    width: fit-content;
    /* max-width: 376px; */
    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.PostCommentReplies {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 19px; */
    padding-left: 40px;
    /* margin-bottom: 20px; */
}

.PostCommentReplies > div {
    /* padding: 16px 0; */
}

@media only screen and (max-width: 1280px) {
    .PostCommentUserName {
        font-size: 20px;
    }

    .PostCommentUserAvatar {
        width: 46px;
        height: 46px;
    }

    .PostComment {
        gap: 12px;
    }
}