.O_Footer {
    width: calc(100%-52px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: var(--black);

    .W_FooterInfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
    
        a:hover {
            text-decoration: underline;
        }
    }
}

.W_FooterTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.A_FooterLogoText {
    color: var(--lightgray);
    font-family: Suisse Intl;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
    text-transform: uppercase;
    margin: 0;

    a:hover {
        text-decoration: none;
    }
}

.Q_FooterLogoLine {
    background-image: url("/assets/LogoZigzag.svg");
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: -16px;
    margin-left: 72px;

    width: 144px;
    height: 37px;
    transform: rotate(2deg);
}

.Q_FooterTopR {
    color: var(--lightgray);
    font-family: Suisse Intl;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.W_FooterInfoTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.A_FooterInfoText {
    color: var(--lightgray);
    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 124%;
    text-transform: uppercase;
}

.C_FooterInfoTeamStudents,
.C_FooterInfoTeamProfs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.C_FooterInfoPages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    &.mobile {
        display: none;
    }
}

.FooterInfoPage {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

    font-family: Suisse Intl;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    color: var(--lightgray);
}

.W_FooterInfoContacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.C_SocialNetworks {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.Q_SocialNetwork {
    width: 36px;
    height: 36px;

    background-repeat: no-repeat;
    background-size: contain;

    &.VK {
        background-image: url("/assets/VK.svg"); 
    }

    &.TG {
        background-image: url("/assets/TG.svg"); 
    }
}

@media only screen and (min-width: 768px) {
    .O_Footer {
        width: calc(100%-52px);
        height: 356px;
        padding: 47px 26px;
    }
}

@media only screen and (max-width: 1023px) {
    .A_FooterInfoText {
        &.Contacts {
            max-width: 232px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .O_Footer {
        width: calc(100%-52px);
        height: 700px;
        padding: 36px 26px;
        align-items: flex-start;
        /* gap: 10px; */

        .W_FooterInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
        }
    }

    .C_FooterInfoPages {
        display: none;
    
        &.mobile {
            display: flex;
            gap: 20px;
        }
    }

    .W_FooterInfoTeam {
        /* margin: 10px 0 20px 0; */
        gap: 20px;
    }

    .A_FooterInfoText {
        &.Contacts {
            max-width: 700px;
        }

        &.About {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

    .C_SocialNetworks {
        gap: 30px;
    }

    .Q_SocialNetwork {
        width: 44px;
        height: 44px;
    }
}

