.MainPage {
  margin: 60px auto 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc(100% - 52px);
  max-width: 1868px;

  &.Gride {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    column-gap: 20px;
    width: 100%;
    margin: 20px auto 0;
    /* background-color: aqua; */
  }

  .MainPageCards {
    margin: 40px auto 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    max-width: 1868px;
    gap: 20px;

    .C_MainPageSectionsRow {
      position: relative;
      display: none;
      width: 100%;
      flex-direction: row;
      overflow: scroll;
      gap: 20px;
    }
  }

  .C_IdeaCards,
  .C_TutorialCards {
    display: flex;
    /* margin: 50px auto; */
    /* width: calc(100% - 52px); */
    width: 100%;
    max-width: 1868px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 20px;
    flex-wrap: wrap;
  }
}

.M_MainTitleArrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.MainPageSelectionText {
  position: absolute;
  left: 34px;
  top: 34px;
  max-width: calc(100% - 68px);
  font-family: Suisse Intl;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: black;
}

@media only screen and (max-width: 1023px) {
  .MainPage {
    margin: 60px auto 80px;
    .MainPageCards {
      .C_MainPageSectionsRow {
        display: -webkit-inline-box;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .MainPage {
    margin: 60px auto 80px;
    width: calc(100% - 32px);

    .MainPageCards {
      margin: 6px auto 0px;
    }
  }
}
