.navUser {
    background-image: url("/assets/icons/IconUser.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 40px;
    height: 40px;
}

.NavCreateNewPostList {
    display: none;
    position: fixed;
    right: 86px;
    top: 70px;
    background-color: white;
    border: 1px dashed black;
    z-index: 200;

    &.show {
        display: flex;
        width: 190px;
        flex-direction: column;
        lign-items: flex-start;
    }
}

.AvatarAdmin {
    background-image: url("/assets/icons/IconAvatarAdmin.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 767px) {
    .NavDesk {
        display: none;
    }

    .navUser {
        width: 32px;
        height: 32px;
    }

    .AvatarAdmin {
        width: 32px;
        height: 32px;
    }
}