.header {
    position: fixed;
    display: flex;
    top: 0;
    width: -webkit-fill-available;
    height: 60px;
    padding: 0 26px;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid black;

    z-index: 100;
}

.navLogoSections {
    display: flex;
    align-items: center;
    gap: 54px;
}

.navLogo {
    position: absolute;
    left: calc(50% - 32px);
    width: fit-content;
    padding: 0 10px;

    font-family: Suisse Intl;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    text-transform: uppercase;
    color: var(--lightgray);

    background-color: black;

    /* &:hover {
        text-decoration: underline;
    } */
}

.navSearch {
    background-image: url("/assets/promo/IconSearch.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 32px;
    height: 32px;
}

.navUser {
    background-image: url("/assets/promo/IconUser.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 40px;
    height: 40px;
}

.navSearchAvatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navSections {
    display: flex;
    gap: 20px;
}

.navSection {
    width: fit-content;
    padding: 0 12px;

    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px; /* 256.25% */
    text-transform: uppercase;
    color: var(--lightgray);

    background-color: black;

    &:hover {
        text-decoration: underline;
    }

    &.newPost {
        color: black;
        border: 1px dashed black;
        background-color: white;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    &.createNewPost {
        width: calc(100% - 24px);
        color: black;
        /* border: 1px dashed black; */
        background-color: white;

        &:hover {
            background-color: var(--yellow);
        }
    }
}

.NavSectionMenuMob {
    display: none;
    width: 44px;
    height: 44px;

    background-repeat: no-repeat;
    background-size: contain;

    background-image: url("/assets/icons/IconMenuMob.svg");

    &:hover {
        cursor: pointer;
    }
}

.NavCreateNewPostList {
    display: none;
    position: fixed;
    right: 286px;
    top: 50px;
    background-color: white;
    border: 1px dashed black;
    z-index: 200;

    &.show {
        display: flex;
        width: 190px;
        flex-direction: column;
        lign-items: flex-start;
    }
}

.MobileMenu {
    position: fixed;
    top: 60px;
    left: 0px;
    display: none;
    width: 330px;
    /* padding: 4px 0px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    background-color: var(--black);

    z-index: 200;

    &.show {
        display: flex;
    }
}

.MobileMenuPages,
.MobileMenuCreate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.MobileMenuSection {
    display: flex;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
    color: var(--lightgray);

    border: 1px solid var(--black);

    &:hover {
        background-color: #c3c3c3;
        color: black;
        border: 1px solid var(--black);
    }
}

.MobileMenuCreate {
    .MobileMenuSection {
        &:hover {
            background-color: var(--yellow);
            color: black;
            border: 1px solid var(--black);
        }
    }
}

.AvatarAdmin {
    background-image: url("/assets/icons/IconAvatarAdmin.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1280px) {     
    .navSection {
        display: none;
    }

    .NavSectionMenuMob {
        display: block; 
    }
}

@media only screen and (max-width: 767px) {
    .header {
        height: 50px;
        padding: 0 16px;
    }
    
    .navLogo {
        left: calc(50% - 27px);
        padding: 0px 8px;
    
        font-size: 24px;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
    }

    .navUser {
        width: 32px;
        height: 32px;
    }

    .MobileMenu {
        top: 50px;
    }

    .AvatarAdmin {
        width: 32px;
        height: 32px;
    }
}