.M_Banner {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  height: 290px;

  background-image: url('/assets/banners/Banner1.png');
  /* background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), #E6E6E6; */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.IdeaPosts {
    background-image: url('/assets/banners/BannerIP.png');
  }

  &.TutorialPosts {
    background-image: url('/assets/banners/BannerTP.png');
  }
}

.M_Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 29px;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.06));

  &.SignIn,
  &.SignUp {
    width: 384px;
    padding: 28px 32px 32px;
    gap: 18px;
  }

  .C_FormInputs {
    width: 100%;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .W_FormInputText {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .C_FormButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      /* width: 100%; */
      border: 0;
    }
  }
}

.M_FooterTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.M_FooterInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;

  a:hover {
    text-decoration: underline;
  }

  .C_FooterInfoPages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    &.mobile {
      display: none;
    }
  }

  .W_FooterInfoTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .C_FooterInfoTeamStudents,
    .C_FooterInfoTeamProfs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }

  .W_FooterInfoContacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .C_SocialNetworks {
      display: flex;
      align-items: flex-start;
      gap: 14px;
    }
  }
}

.M_IdeasPageFilters {
  width: calc(100% - 52px);
  display: flex;
  flex-direction: column;
  margin: 26px auto 52px;
  align-items: center;
  gap: 8px;

  .W_FiltersScroll {
    .C_IdeasFilters {
      display: flex;
      align-content: center;
      gap: 12px;
      /* align-self: stretch;
        flex-wrap: wrap; */
    }
  }
}

.M_TutorialCardTitleLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.M_FilterSelect {
  /* width: 30%;
    max-width: 328px; */
  height: 44px;
  display: flex;
  padding: 0 6px 0 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;

  .W_FilterSelectTagsText {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}

.M_FilterSelectDropdown {
  position: absolute;
  display: none;
  width: calc(30% - 17px);
  max-width: 326px;
  /* height: 170px; */
  flex-direction: column;
  padding: 4px 0;
  border: 1px solid #d7d7d7;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06));

  z-index: 100;

  &.show {
    display: flex;
  }

  &.Items {
    /* left: 100px; */
  }

  &.Tech {
    /* left: 300px; */
  }

  &.Mat {
    /* left: 600px; */
  }
}

.M_UserInfo {
  display: flex;
  /* padding-left: 4px; */
  align-items: center;
  gap: 8px;

  .C_UserInfoNames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
}

.M_IdeaPageIntoTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 8px;
  gap: 12px;
}

.M_CreateCommentBlock {
  width: 100%;
  margin-top: 14px;
  /* padding: 12px; */
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;

  input {
    border: 0;
  }
}

.M_CommentsBlockTutorial {
  width: calc(100% - 44px);
  padding: 0 22px;
  min-height: 120px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  overflow-y: scroll;
  flex: 1 0 0;
  min-height: fit-content;
  overflow-y: visible;
}

.M_CommentsBlock {
  width: 100%;
  min-height: 120px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  overflow-y: scroll;
  flex: 1 0 0;

  .W_IdeaPageComment {
    margin-bottom: 8px;
  }

  .W_TutorialPageComment {
    margin-bottom: 8px;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    border-radius: 5px;
    background-color: #ececec;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bbb;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.M_PostComment {
  /* max-width: 464px; */
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
  gap: 12px;
  /* margin-bottom: 10px; */
}

.M_PostCommentReplies {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 19px; */
  padding-left: 40px;
  /* margin-bottom: 20px; */
}

.M_PostCommentReplies > div {
  /* padding: 16px 0; */
}

.M_NavCreateNewPosts,
.M_PostOptions {
  display: none;
  position: fixed;
  background-color: white;
  border: 1px dashed black;
  z-index: 200;

  &.Idea {
    right: 156px;
    top: 70px;
  }

  &.Tutorial {
    right: 436px;
    top: 56px;
  }

  &.show {
    display: flex;
    width: 190px;
    flex-direction: column;
    lign-items: flex-start;
  }
}

.M_NavCreateNewPosts {
  /* position: absolute; */
  /* margin-top: 3px; */
  /* right: 136px; */
  /* margin-top: 31px; */
  margin-top: 70px;
  right: 261px;
}

.M_PostOptions {
  position: absolute;
  margin-top: 98px;
  right: 150px;

  &.show {
    width: 150px;
  }

  /* a {
        width: auto;
        height: auto;
    } */
}

.M_TutorialPageTitleDescription {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.M_TutorialPageTexts {
  display: flex;
  width: calc(100% - 16px);
  padding: 10px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.M_TutorialPageContent {
  width: calc(100% - 40px);
  padding: 20px 20px;
  border-radius: 18px;
  background-color: white;
  div {
    font-size: 18px;
    line-height: 140%;
  }
  a {
    text-decoration: underline;
  }
}

.M_ProfilePageCardLeft {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: center; */
  align-items: center;
}

.M_ProfilePageCardRight {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .C_UserProfileFullName {
    display: flex;
    flex-direction: column;
    gap: -7px;
  }

  .C_SocialNetworks {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }
}

.M_MobileMenu {
  position: fixed;
  top: 70px;
  left: 0px;
  display: none;
  width: 330px;
  /* padding: 4px 0px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  background-color: var(--black);

  z-index: 200;

  &.show {
    display: flex;
  }

  .C_MobileMenuPages,
  .C_MobileMenuCreate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
}

.CardAddContentAbsolute {
  display: none;
  position: absolute;
  width: calc(25% - 15px);
  height: 100%;
  top: 0;
  right: 0;
  /* background-color: #e0e0e0; */

  z-index: 5;

  &.show {
    display: flex;
    justify-content: end;
  }
}

.IdeaPostPageSeeAlsoCards {
  position: relative;
  display: -webkit-inline-box;
  flex-direction: row;
  width: 100%;
  max-width: 1868px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px 20px;
  overflow: scroll;

  &.rowWhisAbsl {
    width: calc(100% - 25% - 4px);
  }
}

.M_MainPageBigSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(50% - 10px);
  padding-top: calc(25% - 27px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 6px solid black;
  border-radius: 24px;
  box-sizing: border-box;
  overflow: hidden;

  &.main {
    background-image: url('/assets/main/loochok2.gif');
  }

  &.tutorials {
    background-image: url('/assets/main/MainTut.jpg');
  }
}

.M_MainPageSection {
  position: relative;
  display: flex;
  align-items: end;
  width: calc(25% - 15px);
  padding-top: calc(25% - 27px);
  border: 6px solid black;
  border-radius: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.M_CardAddContent {
  display: none;
  position: relative;
  /* padding-top: 39.4%; */
  width: calc(25% - 15px);
  /* height: 100%; */
  align-items: end;
  border-radius: 28px;
  border: 6px solid black;

  box-sizing: border-box;
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */

  overflow: hidden;

  &.inRow {
    /* margin-left: 30px; */

    &.show {
      display: flex;
    }
  }

  &.absolute {
    height: 100%;
    width: 100%;
    display: flex;

    box-shadow:
      -4px 0px 15px rgba(0, 0, 0, 0.25),
      -40px 0px 30px #e0e0e0,
      -10px 0px 20px #e0e0e0,
      40px 0px 0 #e0e0e0;
  }

  .C_CardAddContentText {
    z-index: 2;
  }
}

.M_HeaderSearch {
  form {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 0px;
  }

  .W_SearchHidden {
    /* display: none; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    transition: all 0.5 cubic-bezier(0.65, -0.5, 0.265, 1.6);

    &.active {
      /* display: flex; */
    }
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .M_CardAddContent,
  .CardAddContentAbsolute {
    width: calc(33.3% - 13px);
  }

  .IdeaPostPageSeeAlsoCards {
    &.rowWhisAbsl {
      width: calc(100% - 33.3% - 9px);
    }
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1280px) {
  .M_MainPageSection,
  .M_MainPageBigSection {
    border: 4px solid black;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .M_CardAddContent,
  .CardAddContentAbsolute {
    width: calc(50% - 10px);
  }

  .IdeaPostPageSeeAlsoCards {
    &.rowWhisAbsl {
      width: calc(50% - 10px);
    }
  }
}

@media only screen and (max-width: 1023px) {
  .M_Banner {
    height: 192px;
  }

  .M_MainPageBigSection {
    width: 100%;
    padding-top: 50%;

    &.tutorials {
      display: none;
    }
  }

  .M_MainPageSection {
    width: calc(50% + 12px);
    padding-top: 50%;

    &.tile {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .M_MainPageSection,
  .M_MainPageBigSection {
    border: 4px solid black;

    &.tutorials {
      display: none;
    }
  }

  .M_CardAddContent {
    width: 100%;
  }

  .CardAddContentAbsolute {
    display: none;
    &.show {
      display: none;
    }
  }

  .M_CardAddContent {
    &.absolute,
    &.inRow {
      display: none;
    }
  }

  .IdeaPostPageSeeAlsoCards {
    &.rowWhisAbsl {
      width: 100%;
    }
  }

  .M_FooterInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .C_FooterInfoPages {
      display: none;

      &.mobile {
        display: flex;
        gap: 20px;
      }
    }

    .W_FooterInfoTeam {
      /* margin: 10px 0 20px 0; */
      gap: 20px;
    }

    .W_FooterInfoContacts {
      .C_SocialNetworks {
        gap: 30px;
      }
    }
  }

  .M_IdeasPageFilters {
    width: calc(100% - 32px);

    .W_FiltersScroll {
      display: flex;
      width: 100%;
      overflow-x: hidden;

      .C_IdeasFilters {
        margin: 0 auto;
        display: flex;
        align-content: center;
        overflow-x: scroll;
      }
    }
  }

  .M_FilterSelect {
    /* width: calc(100% - 14px); */
    max-width: 360px;
    margin: 0 auto;
  }

  .M_FilterSelectDropdown {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 2px);
    max-width: 378px;
  }

  .M_CommentsBlock {
    min-height: fit-content;
    overflow-y: visible;
    flex: 0 0 0;
  }

  .M_MobileMenu {
    top: 48px;
  }

  .M_HeaderSearch {
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .M_Form,
  #new_user {
    width: calc(100% - 42px);
  }

  #user_email,
  #user_password,
  #user_password_confirmation {
    width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 450px) {
  .M_CreateCommentBlock {
    flex-direction: column;
  }
}
