.M_Banner {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 290px;
    
    background-image: url("/assets/banners/Banner1.png");
    /* background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), #E6E6E6; */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.IdeaPosts {
        background-image: url("/assets/banners/BannerIP.png");
    }

    &.TutorialPosts {
        background-image: url("/assets/banners/BannerTP.png");
    }
}

.M_FooterTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.M_FooterInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    a:hover {
        text-decoration: underline;
    }

    .C_FooterInfoPages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    
        &.mobile {
            display: none;
        }
    }

    .W_FooterInfoTeam {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .C_FooterInfoTeamStudents,
        .C_FooterInfoTeamProfs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    }
    
    .W_FooterInfoContacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .C_SocialNetworks {
            display: flex;
            align-items: flex-start;
            gap: 14px;
        }
    }
}

.M_IdeasPageFilters {
    width: calc(100% - 52px);
    display: flex;
    flex-direction: column;
    margin: 26px auto 52px;
    align-items: center;
    gap: 18px;

    .W_FiltersScroll {
        .C_Filters {
        display: flex;
        align-content: center;
        gap: 12px;
        /* align-self: stretch;
        flex-wrap: wrap; */
        }
    }
}

.M_UserInfo {
    display: flex;
    /* padding-left: 4px; */
    align-items: center;
    gap: 8px;

    .C_UserInfoNames {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}

.M_MobileMenu {
    position: fixed;
    top: 70px;
    left: 0px;
    display: none;
    width: 330px;
    /* padding: 4px 0px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    background-color: var(--black);

    z-index: 200;

    &.show {
        display: flex;
    }

    .C_MobileMenuPages,
    .C_MobileMenuCreate {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }
}

@media only screen and (max-width: 1023px) {
    .M_Banner {
        height: 192px;
    }
}

@media only screen and (max-width: 767px) {
    .M_FooterInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        .C_FooterInfoPages {
            display: none;
        
            &.mobile {
                display: flex;
                gap: 20px;
            }
        }
    
        .W_FooterInfoTeam {
            /* margin: 10px 0 20px 0; */
            gap: 20px;
        }
        
        .W_FooterInfoContacts {
            .C_SocialNetworks {
                gap: 30px;
            }
        }
    }

    .M_IdeasPageFilters {
        width: calc(100% - 32px);

        .W_FiltersScroll {
            display: flex;
            width: 100%;
            overflow-x: hidden;
    
            .C_Filters {
                margin: 0 auto;
                display: flex;
                align-content: center;
                overflow-x: scroll;
            }
        }
    }

    .M_MobileMenu {
        top: 48px;
    }
}