.TagBlock {
    position: relative;
    margin: 36px auto;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.TagSections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.TagSection {
    display: flex;
    width: 280px;
    height: 58px;
    padding: 0px 14px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: white;

    &.Items {
        border-left: 1px dashed black;
        border-right: 1px dashed black;
    }

    &.Mat {
        border-left: 1px dashed black;
        border-right: 1px dashed black;
    }
}

.TagList {
    position: absolute;
    display: none;

    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    border-left: 1px dashed black;
    background-color: white;

    z-index: 20;
    
    &.Items {
        left: 0px;
    }

    &.Tech {
        left: 309px;
    }

    &.Mat {
        left: 618px;
    }

    &.show {
        display: flex;
        flex-direction: column;
        margin-top: 28px;
        width: 308px;
        /* padding: 10px 14px 20px 14px; */
        align-items: flex-start;
        align-content: flex-start;
        /* gap: 6px; */
        /* flex-wrap: wrap; */
    }
}

.TagListTag {
    display: flex;
    /* width: 308px; */
    height: 58px;
    padding: 0px 14px;
    align-items: center;
    align-self: stretch;
    background-color: white;

    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #8F8F8F;

    &:hover {
        background-color: #c3c3c3;
        color: black;
    }
}

.TagSectionTitle {
    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: black;
}

.TagSectionReset {
    font-family: Suisse Intl;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #8F8F8F;
}

.IconArrowDown {
    width: 28px;
    height: 28px;

    background-image: url("/assets/icons/IconArrowDown.svg");
    background-repeat: no-repeat;
    background-size: contain;

    /* transition: all 0.3s linear; */

    &.CD {
        transform: scale(1, -1);
    }
}

.TutorialPostCardTagsRow {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.TagSectionTagChip,
.PostPageTagChip {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--black-gradient);

    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--lightgray);
}

@media only screen and (max-width: 1023px) {
    .TagBlock {
        display: none;
    }
}


