.postCard {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 30px;
    /* width: 60%; */
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 18px;
    text-decoration: none;
    color: black;
}

.categoryChips {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 7px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: lightgray;

}

.postDate {
    font-family: monospace;
    display: block;
    width: 127px;
    overflow: hidden;
    white-space: nowrap;
}