.postCard {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 30px;
    /* width: 60%; */
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.postCard:hover {
    text-decoration: none;
}


.categoryChips {
    width: fit-content;
    margin: 10px 0 0 0;
    padding: 7px 16px;
    background-color: lightgrey;

}

.typeChips {
    width: fit-content;
    margin: 10px 0 0 0;
    padding: 7px 16px;

    &.idea {
        background-color: lightpink;
    }

    &.tutorial {
        background-color: lightblue;
    }

}

.postDate {
    font-family: monospace;
    display: block;
    width: 127px;
    overflow: hidden;
    white-space: nowrap;
}