.IdeaPostsPage,
.TutorialPostsPage {
    margin-top: 60px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Banner {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 324px;
    
    background-image: url("/assets/banners/Banner1.png");
    /* background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), #E6E6E6; */
    
    background-repeat: no-repeat;
    background-size: cover;

    &.IdeaPosts {
        background-image: url("/assets/banners/BannerIP.png");
    }

    &.TutorialPosts {
        background-image: url("/assets/banners/BannerTP.png");
    }
}

.BannerTitle {
    position: absolute;
    width: fit-content;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    background-color: black;

    font-family: Suisse Intl;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 96px */
    text-transform: uppercase;
    color: var(--lightgray);

    &.IP-1 {
        margin-top: 83px;
        margin-right: 510px;
        transform: rotate(-0.1deg);
    }

    &.IP-2 {
        margin-top: 113px;
        margin-left: 310px;
        transform: rotate(-2.3deg);
    }

    &.TP {
        margin-top: 103px;
        margin-right: 8px;
        transform: rotate(-3.5deg);
    }
}

.BannerZigZag {
    position: absolute;
    background-image: url("/assets/FooterTopLogoLine.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &.IdeaPosts {
        margin-top: 133px;
        margin-right: 198px;

        width: 160px;
        height: 36px;
        transform: rotate(-87deg);
    }

    &.TutorialPosts {
        margin-top: 183px;
        margin-left: 410px;

        width: 262px;
        height: 67px;
        transform: rotate(-87deg);
        transform: scale(-1, 1);
    }
}

.TagBlock {
    position: relative;
    margin: 36px auto;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.TagSections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.TagSection {
    display: flex;
    width: 280px;
    height: 58px;
    padding: 0px 14px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: white;

    &.Items {
        border-left: 1px dashed black;
        border-right: 1px dashed black;
    }

    &.Mat {
        border-left: 1px dashed black;
        border-right: 1px dashed black;
    }
}

.TagList {
    position: absolute;
    display: none;

    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    border-left: 1px dashed black;
    background-color: white;

    z-index: 20;
    
    &.Items {
        left: 0px;
    }

    &.Tech {
        left: 309px;
    }

    &.Mat {
        left: 618px;
    }

    &.show {
        display: flex;
        flex-direction: column;
        margin-top: 28px;
        width: 308px;
        /* padding: 10px 14px 20px 14px; */
        align-items: flex-start;
        align-content: flex-start;
        /* gap: 6px; */
        /* flex-wrap: wrap; */
    }
}

.TagListTag {
    display: flex;
    /* width: 308px; */
    height: 58px;
    padding: 0px 14px;
    align-items: center;
    align-self: stretch;
    background-color: white;

    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #8F8F8F;

    &:hover {
        background-color: #c3c3c3;
        color: black;
    }
}

.TagSectionTitle {
    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: black;
}

.TagSectionReset {
    font-family: Suisse Intl;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #8F8F8F;
}

.IconArrowDown {
    width: 28px;
    height: 28px;

    background-image: url("/assets/icons/IconArrowDown.svg");
    background-repeat: no-repeat;
    background-size: contain;

    /* transition: all 0.3s linear; */

    &.CD {
        transform: scale(1, -1);
    }
}

.IdeaPostsCards,
.TutorialPostsCards {
    display: flex;
    /* margin: 50px auto; */
    width: calc(100% - 52px);
    max-width: 1868px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.IdeaPostCard {
    display: flex;
    /* width: 20,6875rem; */
    width: calc(25% - 15px);
}

.TutorialPostCard {
    display: flex;
    width: calc(33.3% - 13px);
}

.IdeaPostCardContent {
    width: 100%;
    /* height: 100%; */

    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    border-radius: 28px;
    background: var(--white);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.TutorialPostCardContent {
    width: 100%;
    height: 100%;

    display: flex;
    padding: 8px 8px 28px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    border-radius: 28px;
    background: var(--white);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.IdeaPostCardImg {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* background-color: var(--white); */
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.TutorialPostCardImg {
    position: relative;
    width: 100%;
    padding-top: 59.7%;
    /* background-color: var(--white); */
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.IdeaPostCardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.TutorialPostCardInfo {
    display: flex;
    padding: 0px 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.TutorialPostCardTitle {
    font-family: Suisse Intl;
    font-size: 28px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    color: var(--black);
}

.IdeaPostCardInfoTop {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.IdeaCardInfoUser {
    display: flex;
    padding-left: 4px;
    align-items: center;
    gap: 12px;
}

.IdeaCardInfoUserAvatar {
    background-image: url("/assets/promo/IconUser.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 40px;
    height: 40px;
}

.IdeaCardInfoUserNames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.IdeaCardInfoUserName {
    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &.UN {
        color: black;
    }

    &.NN {
        color: #938F8F;
    }
}

.IdeaPostCardLike {
    background-image: url("/assets/icons/IconHeart.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 36px;
    height: 36px;

    &.active {
        background-image: url("/assets/icons/IconHeartActive.svg");
    }
}

.IdeaPostCardInfoBottom {
    display: flex;
    padding: 12px 14px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.TutorialPostCardTagsRow {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.PostCardTagChip,
.TagSectionTagChip,
.PostPageTagChip {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--black-gradient);

    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--lightgray);
}


@media only screen and (max-width: 1023px) {
    .Banner {
        margin-bottom: 36px;
        height: 192px;
    }

    .BannerTitle {
        padding: 7px 8px;
        font-size: 38px;
    
        &.IP-1 {
            margin-top: 63px;
            margin-right: 187px;
        }
    
        &.IP-2 {
            margin-top: 79px;
            margin-left: 141px;
        }

        &.TP {
            margin-top: 70px;
            margin-right: 8px;
            padding: 9px 10px;
            font-size: 49px;
        }
    }

    .BannerZigZag {
        &.IdeaPosts {
            margin-top: 81px;
            margin-right: 60px;
    
            width: 57px;
            height: 14px;
        }

        &.TutorialPosts {
            margin-top: 110px;
            margin-left: 202px;
    
            width: 134px;
            height: 34px;
        }
    }

    .TagBlock {
        display: none;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .IdeaPostCard {
        width: calc(33.3% - 13px);
    }

    .TutorialPostCard {
        width: calc(50% - 10px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .IdeaPostCard {
        width: calc(50% - 10px);
    }

    .TutorialPostCard {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .IdeaPostsCards,
    .TutorialPostsCards {
        width: calc(100% - 32px);
    }
    
    .IdeaPostsPage,
    .TutorialPostsPage {
        margin-top: 50px;
    }

    .IdeaPostCard {
        width: 100%;
    }

    .TutorialPostCard {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .TutorialPostCardTitle {
        font-size: 21px;
    }
}


