:root {
  --white: #fcfcfc;
  --black: #0b0b0b;
  --black2: #2c2d2e;
  --yellow: #ffc700;
  --gray: #b2b2b2;
  --gray2: #828283;
  --lightgray: #dbdbdb;
  --lightgray2: #ededef;

  --black-gradient: linear-gradient(180deg, #1f1f1f 0%, #000 100%);
}
