<div class="IdeaPostCardContent">

  <div class="IdeaPostCardImg">
    <%= image_tag idea_post.post_image.url %>
  </div>

  <div class="IdeaPostCardInfo">
    <div class="IdeaPostCardInfoTop">
      <div class="IdeaCardInfoUser">
        <div class="IdeaCardInfoUserAvatar"></div>
        <div class="IdeaCardInfoUserNames">
          <p class="IdeaCardInfoUserName UN"><%= idea_post.user.email.split("@")[0] %></p>
          <p class="IdeaCardInfoUserName NN">@<%= idea_post.user.email.split("@")[0] %></p>
        </div>
      </div>
      <div class="IdeaPostCardLike"></div>
    </div>

    <div class="IdeaPostCardInfoBottom">
      <% idea_post.tag_list.each do |tag| %>
          <div class="PostCardTagChip">
              <%= tag %>
          </div>
      <% end %>
    </div>
  </div>

</div>