<h1>Idea Posts</h1>
<div class="tagChipsRow">
    <% IdeaPost.tag_counts_on(:tags).each do |tag| %>
      <%= link_to tagged_admin_posts_path(tag.name) do %>
        <div class="tagChips">
          <%= tag.name %>
        </div>
      <% end %>
    <% end %>
  </div>
<br>
<br>
<%= render @posts %>