<p style="color: green"><%= notice %></p>

<div class="IdeaPostPage">

  <%= link_to :admin_idea_posts, class:"IdeaPostPageButton Back" do %>
    <div class="IdeaPostPageButtonIcon Back"></div>
    <p class="IdeaPostPageButtonText">Назад</p>
  <% end %>

  <% if can? :manage, @post %>
    <%= link_to edit_admin_idea_post_path(@post) do %>
        <div class="IdeaPostPageButton Edit">
            <div class="IdeaPostPageButtonIcon Edit"></div>
            <p class="IdeaPostPageButtonText">Редактировать</p>
        </div>
    <% end %>
    <%#= button_to "Удалить пост", admin_post_path(@post), method: :delete %>
  <% end %>

  <%#= render @post %>

  <%= render partial: "admin/idea_posts/idea_post_page", locals: {post: @post} %>
  
</div>