<h1>Редактирование подписки</h1>

<%= render "form", subscription: @subscription %>

<br>

<div>
  <%= link_to "Показать эту подписку", [:admin, @subscription] %> |
  <%= link_to "Обратно ко всем подпискам", admin_subscriptions_path %>
</div>
