<p style="color: green"><%= notice %></p>

<div class="contentPage">

  <h1>Подписки</h1>

  <%= link_to "Новая подписка", new_admin_subscription_path %>

  <br>

  <div id="subscriptions">
    <% @subscriptions.each do |subscription| %>
      <div class="subscriptionCard">
        <%= render subscription %>
        <p>
          <%= link_to "Показать эту подписку", [:admin, subscription] %>
        </p>
      </div>
    <% end %>
  </div>
  
</div>

