<div class="footer">
    <%= link_to "О проекте", welcome_about_url, class: 'footerAbout' %>

    <div class="footerSections">
        <p class="footerSection">ADC HSE</p>
        <div class="footerLogo"></div>
    </div>
</div>